.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 3rem;
  padding-bottom: 3rem;
  /* transition: background-color 0.4s ease; */
}

.header.is-open {
  background-color: green;
}

.header.is-open .navigation {
  display: block;
}

.navigation {
  display: none;
  position: absolute;
  top: 78px;
  left: 0;
  right: 0;
  background-color: green;
  z-index: 20;
  height: 100vh;
  transition: opacity 0.4s ease;
}

.hamburger {
  position: absolute;
  left: 1.6rem;
}

.line {
  width: 20px;
  height: 2px;
  background-color: #ddd;
  display: block;
  transform: rotate(0deg);
}

.line:first-child {
  margin-bottom: 3px;
} 

@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .navigation {
    position: initial;
    display: flex;
    height: auto;
    background-color: transparent;
  }

  .nav-menu {
    display: flex;
  }

  .logo {
    margin-right: 200px;
  }

  .nav-menu-item:nth-child(2) {
    margin-right: 50px;
  }

  .header {
    justify-content: left;
  }
}