.container {
  max-width: 1120px;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  margin: 0 auto;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (min-width: 768px) { 
  .is-hidden-md {
    display: none;
  }

  .flex-module {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width: 768px) { 
  .is-hidden-sm {
    display: none;
  }
}
