.container {
  max-width: 1120px;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  margin: 0 auto;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.btn {
  background-color: transparent;
  padding: 1rem;
  margin: 0;
  border: 0;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}

.btn-icon {
  padding: 0;
}

.btn-main {
  background-color: #00D5B7;
  color: #fff;
  border-radius: 6px;
}

.btn-blue {
  background-color: #00253E;
  color: #fff;
}

.btn-light {
  background-color: #BAE2DE;
  color: #78A2A7;
}

.btn-group .btn:first-child {
  border-radius: 6px 0 0 6px;
}

.btn-group .btn:last-child {
  border-radius: 0 6px 6px 0;
}

.text-center {
  text-align: center;
}

.rounded {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: #00D5B7;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;  
}

@media screen and (min-width: 768px) { 
  .is-hidden-md {
    display: none;
  }

  .flex-module {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .flex-align-center {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 768px) { 
  .is-hidden-sm {
    display: none;
  }
}
